<h1>Division</h1>

<form action="/wizard_divide" method="get">
  <div>
    <label for="number1">Divide this:</label>
    <input id="number1" name="number1" type="text">
  </div>
  <div>
    <label for="number2">by this:</label>
    <input id="number2" name="number2" type="text">
  </div>
  <button type="submit">Divide!</button>
</form>
